@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  text-transform: capitalize;
}

.main {
  border: 2px solid red;
  font-family: Poppins;
  height: 100vh;
  width: 100vw;
  background-color: #212130;
  color: #ffffff;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.main .left-side {
  border: 2px solid green;
  width: 20%;
  height: 100%;
  position: sticky;
  top: 0;
}
.main .left-side .title {
  background-color: #6a73fa;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}
.main .left-side .title h1 {
  font-size: 25px;
  letter-spacing: 6px;
}
.main .left-side .links {
  line-height: 3;
}
.main .left-side .links p {
  border: 2px solid green;
  display: flex;
}
.main .left-side .links p svg {
  width: 20px;
  fill: white;
  margin-right: 10px;
}

.main-app {
  border: 2px solid goldenrod;
  width: 80%;
  height: 100%;
}
.main-app .header {
  border: 2px solid blue;
  padding: 15px;
  position: sticky;
  top: 0;
}

.main_auth {
  background-color: #17171e;
  height: 100vh;
  color: #ffffff;
}
.main_auth form {
  width: 35%;
  padding: 25px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2;
  background-color: #212130;
}
.main_auth form .logo {
  text-align: center;
}
.main_auth form .logo p {
  margin-top: 3px;
  font-weight: bold;
  font-size: 16px;
}
.main_auth form .image {
  margin: auto;
  border: 1px solid #828690;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.main_auth form .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.main_auth form .inputs {
  margin-top: 15px;
}
.main_auth form .inputs .cookie {
  display: flex;
}
.main_auth form .inputs .cookie .input {
  padding: 0;
  width: 20px;
}
.main_auth form .inputs input {
  width: 98%;
  padding: 10px;
  border: 1px solid #828690;
  outline: none;
  background-color: transparent;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #ffffff;
}
.main_auth label {
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}
.main_auth button {
  background-color: #6a73fa;
  width: 98%;
  border: none;
  padding: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 3px;
  cursor: pointer;
}
.main_auth p {
  font-size: 13px;
  margin-top: 20px;
}
.main_auth p a {
  color: #6a73fa;
  margin-left: 5px;
  text-decoration: none;
}

.section p {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; /* Prevents text selection on double-click */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  transition: transform 0.3s ease-out;
}

.student-links,
.course-links,
.staff-links {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.student-links.visible,
.course-links.visible,
.staff-links.visible {
  max-height: 200px; /* Adjust based on your content */
}/*# sourceMappingURL=style.css.map */